name: Generate Podcast Feeds
on: [push] # What is going to trigger this workflow
jobs: # Specify what we want to do
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@latest # Latest release or version latest
      
      - name: Setup Python # Ubuntu does not come with Python pre-installed.
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # With this we can control which Python version we want to install

      - name: Install Dependencies
        run: | # | specifies multi-line command
          python -m pip install --upgrade pip
          pip install pyyaml

      - name: Run Feed Generator
        run: python feed.py # This generates the podcast.xml file

      - name: Push Repo
        run: |
          # Here we need to setup git as if we were setting up a new machine.
          git config user.name "imraklr"
          git config user.email "rklsspty777@gmail.com"
          git add .
          git commit -m "Modified Feed"
          git push
